body {
    background-color: rgb(214, 232, 233);
    width 100;
}

body h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*border: 3px solid;*/
}

.choice-text:hover {
    background-color: rgb(57, 216, 224);
}

.choice-text {
    padding: 1.5rem;
    width: 50%;
    text-align: left;
    font-size: 24px;
    border: 3px solid;
    margin: 10px;

}